.custom-button {
  padding: 8px 10px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  text-transform: uppercase;
}
.google-sign-in {
  width: 290px;
  padding: 8px 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
  background-color: #e4e4e4;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
.facebook-sign-in {
  width: 290px;
  padding: 8px 10px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #3b5998;
  background-color: #3b5998;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
}
