.login-signup-container {
  width: 250px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;

  .login-button {
    font-size: 18px;
    color: #f57224;
    padding: 10px 30px;
    border: none;
    border: 1px solid #dcdacb;
    background-color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }
  .sign-up-button {
    font-size: 18px;
    color: #333;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border: 1px solid #f57224;
    background-color: #f57224;
    cursor: pointer;
    border-radius: 3px;
  }
}
