.sign-up-container {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 400px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  flex-direction: column;

  .signup-form {
    display: flex;
    flex-direction: column;

    button {
      background-color: #f57224;
      color: #fff;

      &:hover {
        background-color: rgb(192, 88, 28);
      }
    }
  }
  .social-icon {
    position: absolute;
    top: 5px;
    left: 8px;
  }
}
