.cart-item {
  display: flex;
  margin: 10px;

  .image {
    width: 30%;
    img {
      width: 100%;
    }
  }
  .details {
    margin: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;

    .name {
      color: #333;
    }
  }
}
